footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-adress {
  display: flex;
  flex-direction: column;
  width: 231px;
  margin-right: 70px;
}

.footer-navigation-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-navigation-contact:hover,
.footer-navigation-contact:focus {
  color: var(--accent-color);
}

.footer-item {
  display: block;
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress:hover,
.adress:focus {
  color: var(--accent-color);
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}

.social-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  width: 145px;
  height: 16px;
  left: 516px;
  top: 2751px;

  color: var(--primary-title-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-title-color);
}

.footer-label {
  display: block;

  margin-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-title-color);
}

.footer-mail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--primary-title-color);
  padding-left: 16px;
  padding-right: 16px;

  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 / 16);

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--accent-color);
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 12px;
}

.submit-btn-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.06em;

  color: var(--primary-title-color);

  margin-right: 10px;
}

.submit-icon {
  width: 24px;
  height: 24px;
}
