.footer {
  background-color: #2f303a;
  padding: 60px 0;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__adress {
    display: flex;
    flex-direction: column;
    width: 231px;
    margin-right: 70px;
  }

  &__contact {
    @include font-style($weight: 500, $size: 16px, $spacing: 0.02em);

    color: $grey;

    transition: color $animation;
  }

  &__contact:hover,
  &__contact:focus {
    color: $accent;
  }

  &__item {
    display: block;
    margin-bottom: 9px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}

.adress {
  @include font-style($size: 14px, $height: 24px);

  color: $white;

  transition: color $animation;
}

.adress:hover,
.adress:focus {
  color: $accent;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}

.social__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  width: 145px;
  height: 16px;

  color: $white;

  @include font-style($weight: 700, $size: 14px);

  text-transform: uppercase;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color $animation;
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: $accent;
  border-radius: 50%;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: $white;
}

.footer__label {
  display: block;

  margin-bottom: 20px;

  @include font-style($weight: 700, $size: 14px);

  text-transform: uppercase;

  color: $white;
}

.footer-mail__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__input {
  width: 358px;
  height: 50px;

  @include font-style($height: 20px);

  color: $white;

  padding-left: 16px;
  padding-right: 16px;

  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border $animation;
}

input::placeholder {
  @include font-style($height: 20px);

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer__input:hover,
.footer__input:focus {
  border: 1px solid $accent;
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 12px;
}

.submit__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
