.contact {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  @include font-style($weight: 500, $size: 14px, $spacing: 0.02em);

  color: $grey;

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent;
  }

  &__item {
    display: inline-block;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__item--icon {
    fill: currentColor;
    margin-right: 10px;
  }

  &:hover &__item--icon,
  &:focus &__item--icon {
    color: $accent;
    fill: $accent;
  }
}
