.social {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item + &__item {
    margin-left: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color $animation;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent;
    border-radius: 50%;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $logo;

    transition: fill $animation;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $white;
  }
}
